<div class ="ingredient">
  <%= image_tag "ingredients/" + ingredient.image %>
  <h4><%= ingredient.name %></h4>
  <p><strong><%= format("$%.2f",ingredient.price) %></strong> / <%= ingredient.measurement.name %></p>
</div>