<div class ="ingredient">
  <%= image_tag "ingredients/" + ingredient.image %>
  <h4><%= ingredient.name %></h4>
  <p><strong><%= ingredient.price %></strong> / <%= ingredient.measurement %></p>
</div>